[submodule "java"]
	path = java
	url = git@github.com:Milsonyujiaoki/java.git
[submodule "php"]
	path = php
	url = git@github.com:Milsonyujiaoki/php.git
[submodule "elixir"]
	path = elixir
	url = git@github.com:Milsonyujiaoki/elixir.git
[submodule "shared/data-types"]
	path = shared/data-types
	url = git@github.com:Milsonyujiaoki/data-types.git
[submodule "shared/data-structures"]
	path = shared/data-structures
	url = git@github.com:Milsonyujiaoki/data-structures.git
